.flight-list {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-weight: 600;
} 

.flight-list:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flight-list label {
  font-size: 12px;
}

.flight-list img {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
}